<section class="layout">
   <div> {{>content/speakerslist}}</div>
   <div class="primary">
      {{>content/whoarewe}}
      {{>content/getbusy}}
      {{>content/whoshouldcome}}
   </div><!--primary-->
   <aside class="secondary">
      {{>content/nextmeeting}}
      {{>content/artworklist}}
   </aside><!--secondary-->
</section><!--layout-->
