<section class="layout">
   <div class="primary">
      {{>content/speakerslist}}
   </div><!--primary-->
   <aside class="secondary">
      {{>content/nextmeeting}}
      {{>content/artworklist}}
   </aside><!--secondary-->
</section><!--layout-->